.navAfter {
  position: absolute;
  text-align: center;
  transform: translatex(0);
  width: 20%;
  transition: all 0.5s;
  left:0;
}

.navBefore {
  position: absolute;
  text-align: center;
  width: 20%;
  top:50%;
  left:50%;
  transform: translatex(-50%);
  transition: all 0.5s;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.contentAfter{
  position: absolute;
  top: 0;
  left: 20%;
  width:95%;
  height:100vh;
  transition: all 0.5s;
}

.contentBefore{
  position: absolute;
  top: 0;
  left: 100%;
  width:0%;
  height:0%;
  transition: all 0.5s;
}

#iframethingy {
  margin:2rem 0;
  width: 80%;
  height:stretch;
}