.App {
  text-align: center;
  float:left;
  width: 20%;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.contentAfter{
  position: absolute;
  top: 0;
  left: 20%;
  width:80%;
  height:100vh;
  /* background-color: blue; */
  transition: all 0.5s;
}

.contentBefore{
  position: absolute;
  top: 0;
  left: 100%;
  width:80%;
  height:100vh;
  /* background-color: blue; */
  transition: all 0.5s;
}

#iframethingy {
  width: 80vw;;
  height:100vh;;
}